.home-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .home-container h1 {
    color: #343a40;
    font-size: 36px;
    font-weight: bold;
  }
  